[submodule "bundle/quick-scope"]
	path = bundle/quick-scope
	url = https://github.com/unblevable/quick-scope.git
[submodule "bundle/VimCompletesMe"]
	path = bundle/VimCompletesMe
	url = https://github.com/ajh17/VimCompletesMe.git
[submodule "~/.vim/bundle/scratch"]
	path = ~/.vim/bundle/scratch
	url = https://github.com/mtth/scratch.vim
[submodule "bundle/scratch.vim"]
	path = bundle/scratch.vim
	url = https://github.com/mtth/scratch.vim
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-pandoc"]
	path = bundle/vim-pandoc
	url = https://github.com/vim-pandoc/vim-pandoc.git
[submodule "bundle/vim-pandoc-syntax"]
	path = bundle/vim-pandoc-syntax
	url = https://github.com/vim-pandoc/vim-pandoc-syntax.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/lightline.vim"]
	path = bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
